// give me back the entire viewport
.nicegui-content {
    padding: 0;
    margin: 0 auto;
}

// Make all math font a bit bigger.
math {
    font-size: 110%;

    @media (max-width: 768px) {
        // Medium and small screens
        font-size: 100%;
    }
}

.q-drawer {
    z-index: 20;
}

// Big equations need big margins to stay readable. Also further increase font
// size for readability.
math[display="block"] {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 120%;

    @media (max-width: 768px) {
        // Medium and small screens
        font-size: 110%;
    }
}

// This simply speeds up transitions compared to the quasar defaults.
body.desktop .q-expansion-item .q-focus-helper,
body.desktop .q-btn .q-focus-helper,
body.desktop .q-item .q-focus-helper {
    transition:
        background-color 0.05s ease-in,
        opacity 0.05s ease-in;
}

// Make the focus helpers disappear when focused.
body.desktop .q-expansion-item .q-focus-helper:after,
body.desktop .q-btn .q-focus-helper:after,
body.desktop .q-item .q-focus-helper:after,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-focus-helper:before,
body.desktop .q-item .q-focus-helper:before {
    transition:
        background-color 0.05s ease-in,
        opacity 0.05s ease-in;
}

body.desktop .q-expansion-item .q-focus-helper,
body.desktop .q-btn .q-focusable:focus > .q-focus-helper,
body.desktop .q-item .q-focusable:focus > .q-focus-helper,
body.desktop .q-expansion-item .q-focus-helper:after,
body.desktop .q-btn .q-hoverable:hover > .q-focus-helper,
body.desktop .q-item .q-hoverable:hover > .q-focus-helper,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-item .q-manual-focusable--focused > .q-focus-helper {
    opacity: 0; //.25;
}

body.desktop .q-expansion-item .q-focus-helper:after,
body.desktop .q-btn .q-focusable:focus > .q-focus-helper::before,
body.desktop .q-item .q-focusable:focus > .q-focus-helper::before,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-hoverable:hover > .q-focus-helper::before,
body.desktop .q-item .q-hoverable:hover > .q-focus-helper::before,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-manual-focusable--focused > .q-focus-helper::before,
body.desktop .q-item .q-manual-focusable--focused > .q-focus-helper::before {
    opacity: 0; //.2;
}

body.desktop .q-expansion-item .q-focus-helper:after,
body.desktop .q-btn .q-focusable:focus > .q-focus-helper::after,
body.desktop .q-item .q-focusable:focus > .q-focus-helper::after,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-hoverable:hover > .q-focus-helper::after,
body.desktop .q-item .q-hoverable:hover > .q-focus-helper::after,
body.desktop .q-expansion-item .q-focus-helper:before,
body.desktop .q-btn .q-manual-focusable--focused > .q-focus-helper::after,
body.desktop .q-item .q-manual-focusable--focused > .q-focus-helper::after {
    opacity: 0; //.5;
}

body.desktop .q-expansion-item .q-focus-helper,
body.desktop .q-btn .q-focusable:focus > .q-focus-helper,
body.desktop .q-item .q-focusable:focus > .q-focus-helper,
body.desktop .q-expansion-item .q-focus-helper:after,
body.desktop .q-btn .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-item .q-manual-focusable--focused > .q-focus-helper {
    opacity: 0; //.32;
}
